/** Styles for Blue Theme **/
#header a {
	background: transparent url(../img/colors/blue/bg-logo.png) scroll 0 0 no-repeat; 
}
#navigation li a span { 
	background: transparent url(../img/colors/blue/bg-navigation-hover.png) scroll 100% -60px no-repeat;
}
#navigation .icon-holder a { 
	background: transparent url(../img/colors/blue/bg-sprite-navicon.png) scroll 0 0 no-repeat; 
}

#slider .nav a.current {
	background: #000; background: rgba(82,112,149,0.75); 
}